In [1]:
import pandas as pd
from datetime import datetime
%matplotlib inline

In [5]:
df = pd.read_csv('../../Time-series-analysis/Data/airline_passengers.csv',index_col='Month')

In [3]:
df.head()

         Thousands of Passengers
Month
1949-01                      112
1949-02                      118
1949-03                      132
1949-04                      129
1949-05                      121

In [6]:
# See the index is  String index not a datetime index.
df.index

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [7]:
df.dropna(inplace=True)

In [8]:
df.index = pd.to_datetime(df.index)

In [9]:
# Now you can see that the index is  datetime index
df.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [10]:
# Remember datetime index will always start with first day of the month
df.head()

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121