In [1]:
import pandas as pd

In [2]:
path = 'C:/Users/ArnabBiswas/Documents/Data/Data_Science_boot_camp/'
df = pd.read_csv(path+'Computers.csv')

In [3]:
df.head()

   price  speed   hd  ram  screen  cd multi premium  ads  trend
0   1499     25   80    4      14  no    no     yes   94      1
1   1795     33   85    2      14  no    no     yes   94      1
2   1595     25  170    4      15  no    no     yes   94      1
3   1849     25  170    8      14  no    no      no   94      1
4   3295     33  340   16      14  no    no     yes   94      1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6259 entries, 0 to 6258
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    6259 non-null   int64
 1   speed    6259 non-null   int64
 2   hd       6259 non-null   int64
 3   ram      6259 non-null   int64
 4   screen   6259 non-null   int64
 5   cd       6259 non-null   object
 6   multi    6259 non-null   object
 7   premium  6259 non-null   object
 8   ads      6259 non-null   int64
 9   trend    6259 non-null   int64
dtypes: int64(7), object(3)
memory usage: 489.1+ KB

In [5]:
group_ram = df.groupby(['ram'])

In [6]:
group_hd = df.groupby(['hd'])

In [7]:
group_ram_hd = df.groupby(['ram','hd'])

In [8]:
group_ram.count()

     price  speed    hd  screen    cd  multi  premium   ads  trend
ram
2      394    394   394     394   394    394      394   394    394
4     2236   2236  2236    2236  2236   2236     2236  2236   2236
8     2320   2320  2320    2320  2320   2320     2320  2320   2320
16     996    996   996     996   996    996      996   996    996
24     297    297   297     297   297    297      297   297    297
32      16     16    16      16    16     16       16    16     16

In [12]:
group_ram.sum(numeric_only=True)

       price   speed       hd  screen     ads  trend
ram
2     671082   17267    42832    5595  100561   4383
4    4188178   99680   571519   32240  514391  32686
8    5331719  132466  1051654   34125  500207  38054
16   2771561   57098   609081   14773  219076  16779
24    871997   17830   309200    4453   49328   7326
32     57793    1196    23224     250    1560    459

In [10]:
df[df['ram'] == 2].shape[0]

394

In [ ]:
group_ram_hd.count()

In [ ]:
group_ram.mean(numeric_only=True)

In [ ]:
group_screen = df.groupby(['screen'])

In [ ]:
group_screen.count()

In [ ]:
group_ram.describe()

In [ ]:
group_ram.sum(numeric_only=True)

In [ ]:
group_ram.std(numeric_only=True)

In [ ]:
df.sort_values('price')

In [13]:
import numpy as np

import random

In [14]:
source = ['a','b','c']
dest = ['a','b','c']
row_list = []
count = 5
for k in range(0,20):
    for i in source:
        for j in dest:
            if i != j:
                if k < 18:
                    row_list.append([i,j,np.random.uniform(1,10)])
                else:
                    row_list.append([i,j,count*1000])
cols = ['source', 'destination', 'distance']
df = pd.DataFrame(row_list,columns=cols)

In [15]:
df

    source destination     distance
0        a           b     3.597015
1        a           c     5.070188
2        b           a     2.345403
3        b           c     5.272907
4        c           a     2.815777
..     ...         ...          ...
115      a           c  5000.000000
116      b           a  5000.000000
117      b           c  5000.000000
118      c           a  5000.000000
119      c           b  5000.000000

[120 rows x 3 columns]

In [16]:
df.describe()

          distance
count   120.000000
mean    504.906642
std    1504.649154
min       1.073033
25%       3.539251
50%       6.095335
75%       8.608950
max    5000.000000

In [17]:
src_dest = df.groupby(['source','destination'])

In [ ]:
df1 = src_dest.std().reset_index()

In [ ]:
df1.head(10)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
df1['scaled'] = sc.fit_transform(np.array(df1['distance']).reshape(-1,1))

In [ ]:
df1.head(20)

In [ ]:
for index, row in df1.iterrows():
    if row['scaled'] > 2:
        print(row)

In [ ]:
df1['scaled'].min()

In [22]:
src_dest_std = src_dest.std().apply(list).to_dict()
print(src_dest_std)

{'distance': {('a', 'b'): 1537.214384343926, ('a', 'c'): 1537.2547906558561, ('b', 'a'): 1537.1591068737578, ('b', 'c'): 1537.2896771055214, ('c', 'a'): 1537.107265292104, ('c', 'b'): 1537.7245517781012}}

In [23]:
src_dest_std_dict = src_dest_std['distance']
print(src_dest_std_dict)

{('a', 'b'): 1537.214384343926, ('a', 'c'): 1537.2547906558561, ('b', 'a'): 1537.1591068737578, ('b', 'c'): 1537.2896771055214, ('c', 'a'): 1537.107265292104, ('c', 'b'): 1537.7245517781012}

In [24]:
src_dest_mean = src_dest.mean().apply(list).to_dict()
print(src_dest_mean_dict)

{('a', 'b'): 505.133737627841, ('a', 'c'): 505.01428788480223, ('b', 'a'): 505.29477013110363, ('b', 'c'): 504.9126588246718, ('c', 'a'): 505.44530759882355, ('c', 'b'): 503.63908877233973}

In [25]:
src_dest_mean_dict = src_dest_mean['distance']
print(src_dest_mean_dict)

{('a', 'b'): 505.133737627841, ('a', 'c'): 505.01428788480223, ('b', 'a'): 505.29477013110363, ('b', 'c'): 504.9126588246718, ('c', 'a'): 505.44530759882355, ('c', 'b'): 503.63908877233973}

In [26]:
def get_val(row):
    src = row['source']
    dest = row['destination']
    dist = row['distance']
    std = src_dest_std_dict[(src, dest)]
    mean = src_dest_mean_dict[(src, dest)]
       
    diff = np.abs(dist-mean)
    if diff > 2*std:  
        print(src,dest,dist,mean,diff, std)
        return (mean + 2*std)
    else:
        return dist

In [27]:
df['new_col'] = df.apply(get_val, axis=1)

a b 5000.0 505.133737627841 4494.866262372159 1537.214384343926
a c 5000.0 505.01428788480223 4494.985712115198 1537.2547906558561
b a 5000.0 505.29477013110363 4494.705229868896 1537.1591068737578
b c 5000.0 504.9126588246718 4495.087341175328 1537.2896771055214
c a 5000.0 505.44530759882355 4494.554692401176 1537.107265292104
c b 5000.0 503.63908877233973 4496.36091122766 1537.7245517781012
a b 5000.0 505.133737627841 4494.866262372159 1537.214384343926
a c 5000.0 505.01428788480223 4494.985712115198 1537.2547906558561
b a 5000.0 505.29477013110363 4494.705229868896 1537.1591068737578
b c 5000.0 504.9126588246718 4495.087341175328 1537.2896771055214
c a 5000.0 505.44530759882355 4494.554692401176 1537.107265292104
c b 5000.0 503.63908877233973 4496.36091122766 1537.7245517781012

In [28]:
df

    source destination     distance      new_col
0        a           b     3.597015     3.597015
1        a           c     5.070188     5.070188
2        b           a     2.345403     2.345403
3        b           c     5.272907     5.272907
4        c           a     2.815777     2.815777
..     ...         ...          ...          ...
115      a           c  5000.000000  3579.523869
116      b           a  5000.000000  3579.612984
117      b           c  5000.000000  3579.492013
118      c           a  5000.000000  3579.659838
119      c           b  5000.000000  3579.088192

[120 rows x 4 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc =  StandardScaler()
df['distance_standard'] = sc.fit_transform(np.array(df['distance']).reshape(-1,1))

In [ ]:
df